@import '~src/assets/scss/define';
@import '~src/assets/scss/iconfont';
@import '~src/assets/scss/skin';

.wrap{
    padding: j(20) j(32);
}
.input-section{
    @extend %df;
    @extend %aic;
    @extend %bw05;
    @extend %bwb;
    height: j(100);
    input{
        @extend %df1;
        @extend %c3;
        @extend %h100;
    }
    .iconfont{
        @extend %c9;
        @extend %cp;
        margin-left: j(32);
    }
}
.number-section{
    @extend %df;
    @extend %aic;
    @extend %c9;
    height: j(60);
    justify-content: flex-end;
    font-size: j(20);
}
.prompt-section{
    @extend %df;
    @extend %aic;
    @extend %c9;
    font-size: j(24);
    .iconfont{
        color: $main-color;
        margin-right: j(8);
    }
}
