
@import "~src/assets/scss/common";

page{
    @extend %w100;
    @extend %h100;
    background-color: $bg-color;
}

.wrap{
    @extend %c6;
    line-height: 1.5;
    padding: j(32);
    font-size: j(24);
}
