
@import "~src/assets/scss/common";

page{
    @extend %w100;
    @extend %oh;
    @extend %h100;
    background-color: $bg-color;
}
.wrap{
    @extend %df;
    @extend %fdc;
    @extend %bsb;
    @extend %aic;
    padding: j(100) 0;
    width: j(600);
    border-radius: j(20);
    margin: j(120) auto;
    background-color: #fff;
}
.user{
    @extend %df;
    @extend %aic;
    width: j(400);
}
.avatar{
    @extend %bw05;
    @extend %bw05r;
    @extend %bwt;
    @extend %bwb;
    @extend %bwr;
    @extend %bwl;
    border-radius: 50%;
    margin-right: j(16);
    width: j(80);
    height: j(80);
    background-color: #f2f2f2;
    image{
        @extend %w100;
        @extend %h100;
    }
}
.info{
    @extend %df1;
    @extend %df;
    @extend %fdc;
}
.name{
    @extend %c3;
    font-size: j(28);
}
.signature{
    @extend %c9;
    font-size: j(24);
}
.inner{
    margin-top: j(20);
    width: j(400);
    height: j(400);
    background-color: #f2f2f2;
    image{
        @extend %w100;
        @extend %h100;
    }
}
