
@import "~src/assets/scss/common";

page{
    @extend %w100;
    @extend %h100;
    background-color: $bg-color;
}
.image-section{
    @extend %bw05;
    @extend %bwb;
    padding: j(20) j(32);
    background-color: #fff;
}
.image-upload{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cp;
    @extend %pr;
    @extend %oh;
    border-radius: j(10);
    border: j(1) #ddd solid;
    width: j(120);
    height: j(120);
    .iconfont{
        @extend %c9;
        font-size: j(26);
    }
    .image{
        @extend %pa;
        @extend %w100;
        @extend %h100;
    }
}
.input-section{
    background-color: #fff;
}
.input-cell{
    @extend %df;
    @extend %aic;
    @extend %bw05;
    @extend %bwb;
    .input{
        @extend %w100;
        @extend %bsb;
        @extend %c3;
        font-size: j(28);
        padding: 0 j(32);
        height: j(100);
    }
    .textarea{
        @extend %bsb;
        @extend %c3;
        font-size: j(28);
        height: j(200);
        padding: j(20) j(32);
    }
    .switch{
        zoom: .8;
        margin-right: j(32);
    }
}
.input-label{
    @extend %df1;
    @extend %c9;
    @extend %df;
    @extend %aic;
    height: j(100);
    margin-left: j(32);
    font-size: j(28);
}
