@import '~src/assets/scss/define';
@import '~src/assets/scss/skin';
@import '~src/assets/scss/iconfont';

.time{
    @extend %df;
    @extend %aic;
    @extend %c6;
    padding: 0 j(32);
    height: j(60);
    font-size: j(24);
}
.main{
    @extend %df;
    @extend %aic;
    @extend %oh;
    padding: j(20) j(32);
    background-color: #fff;
    &.photo{
        .author{
            @extend %dn;
        }
    }
    &.info,
    &.collect,
    &.history{
        @extend %bw05;
        @extend %bwt;
        .status{
            @extend %dn;
        }
    }
    &.info{
        .icon-more{
            @extend %dn;
        }
    }
}
.photo-image{
    @extend %oh;
    border-radius: j(10);
    width: j(200);
    height: j(140);
    margin-right: j(20);
}
.image{
    @extend %w100;
    @extend %h100;
}
.inner{
    @extend %df1;
    @extend %df;
    @extend %fdc;
    @extend %jcs;
    @extend %oh;
    height: j(140);
}
.title{
    @extend %df;
    @extend %aic;
    @extend %c3;
    @extend %oh;
    @extend %twno;
    font-size: j(32);
}
.title-text{
    @extend %twno;
}
.author{
    @extend %c9;
    @extend %twno;
    font-size: j(24);
}
.status{
    @extend %dib;
    //@extend %bsb;
    height: j(28);
    line-height: j(28);
    margin-right: j(16);
    border-radius: j(10);
    padding: 0 j(6);
    border: j(1) $main-color solid;
    color: $main-color;
    font-size: j(18);
}
.operate{
    @extend %df;
    @extend %aic;
    @extend %jcs;
}
.attr{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %c9;
    font-size: j(28);
    .iconfont{
        margin-right: j(8);
    }
}
