
@import '~src/assets/scss/define';

.head{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %c3;
    padding: 0 j(120);
    height: j(80);
    font-size: j(28);
    .iconfont{
        padding: 0 j(20);
    }
}
.arrow{
    @extend %cp;
    width: j(24);
    height: j(24);
    border-top: j(2) #999 solid;
    border-right: j(2) #999 solid;
    &.left{
        @include tfr(-135deg);
    }
    &.right{
        @include tfr(45deg);
    }
}
.title{
    @extend %df1;
    @extend %tac;
}
.tr{
    @extend %df;
    @extend %aic;
    padding: 0 j(32);
    //@extend %bw05;
    //@extend %bwb;
}
.td{
    @extend %df;
    @extend %df1;
    @extend %aic;
    @extend %jcc;
    @extend %c6;
    @extend %cp;
    font-size: j(24);
    height: j(80);
}

.prompt{
    @extend %df;
    @extend %aic;
    @extend %c3;
    margin-top: j(50);
    font-size: j(24);
    padding-left: j(32);
    .iconfont{
        margin-right: j(10);
    }
}
.photo{
    @extend %oh;
    @extend %pr;
    margin: j(20) j(32);
    background-color: #f2f2f2;
    height: j(360);
    border-radius: j(12);
    image{
        @extend %pa;
        @extend %w100;
        @extend %h100;
    }
}
.photo-content{
    @extend %w100;
    @extend %h100;
    @extend %df;
    @extend %aic;
    @extend %pr;
    @extend %jcc;
    background-color: rgba(0,0,0,.3);
    .iconfont{
        @extend %cfff;
        padding: j(20);
        border-radius: 50%;
        background-color: rgba(0,0,0,.8);
        font-size: j(48);
    }
}
.tip{
    @extend %df;
    @extend %c9;
    font-size: j(20);
    margin: j(32);
}
