
@import '~src/assets/scss/define';

.photo{
    @extend %pr;
    margin: j(20) j(32);
    background-color: #f2f2f2;
    height: j(360);
    image{
        @extend %pa;
        @extend %w100;
        @extend %h100;
    }
}
.tip{
    @extend %df;
    @extend %c9;
    font-size: j(20);
    margin: j(32);
}
