
@import '~src/assets/scss/common';

.head{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %c3;
    //padding: 0 j(120);
    height: j(80);
    font-size: j(28);
    .iconfont{
        padding: 0 j(20);
    }
}
.arrow-button{
    @extend %cp;
    @extend %h100;
    @extend %df;
    @extend %df1;
    @extend %aic;
    @extend %jcc;
    padding: 0 j(30);
}
.arrow{
    width: j(24);
    height: j(24);
    border-top: j(2) #999 solid;
    border-right: j(2) #999 solid;
    &.left{
        @include tfr(-135deg);
    }
    &.right{
        @include tfr(45deg);
    }
}
.title{
    @extend %df1;
    @extend %tac;
}
.tr{
    @extend %df;
    @extend %aic;
    //@extend %bw05;
    //@extend %bwb;
    margin: 0 j(24);
}
.td{
    @extend %df;
    @extend %df1;
    @extend %aic;
    @extend %jcc;
    @extend %c6;
    @extend %cp;
    font-size: j(24);
    height: j(80);
}
.content{
    @extend %df;
    @extend %fww;
    @extend %jcs;
    margin: 0 j(24);
}
.cell{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    @extend %cp;
    @extend %pr;
    font-size: j(24);
    height: j(100);
    width: 14.2%;
    &.disabled{
        @extend %c9;
        .cell-content{
            background-color: transparent;
        }
        .bg{
            @extend %dn;
        }
    }
    &.have{
        .cell-content{
            background-color: rgba(0,0,0,.3);
        }
    }
    &.active{
        .cell-content{
            @extend %cfff;
            background-color: $main-color;
        }
        .bg{
            @extend %dn;
        }
    }
}
.cell-content{
    @extend %pa;
    @extend %t50;
    @extend %l50;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(70);
    height: j(70);
    margin-top: j(-35);
    margin-left: j(-35);
    border-radius: 50%;
    background-color: rgba(0,0,0,.1);
    .bg{
        @extend %w100;
        @extend %h100;
        border-radius: 50%;
    }
}
.prompt{
    @extend %df;
    @extend %aic;
    @extend %c3;
    margin-top: j(50);
    font-size: j(24);
    padding-left: j(32);
    .iconfont{
        margin-right: j(10);
    }
}
.photo{
    @extend %oh;
    @extend %pr;
    margin: j(20) j(32);
    background-color: #f2f2f2;
    height: j(360);
    border-radius: j(12);
    image{
        @extend %pa;
        @extend %w100;
        @extend %h100;
    }
}
.photo-content{
    @extend %w100;
    @extend %h100;
    @extend %df;
    @extend %aic;
    @extend %pr;
    @extend %jcc;
    background-color: rgba(0,0,0,.3);
    .iconfont{
        @extend %cfff;
        padding: j(20);
        border-radius: 50%;
        background-color: rgba(0,0,0,.8);
        font-size: j(48);
    }
}
.tip{
    @extend %df;
    @extend %c9;
    font-size: j(20);
    margin: j(32);
}
