@import '~src/assets/scss/common';

page{
    @extend %h100;
    background-color: #fff;
}
.wrap{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %c3;
    @extend %bsb;
    @extend %h100;
}
.logo{
    margin-top: j(60);
    width: j(280);
    height: auto;
}
.title{
    @extend %c3;
    font-size: j(42);
    margin: j(50) auto j(20);
}
.sub-title{
    @extend %c9;
    font-size: j(28);
}
.bar{
    margin: j(60) 0;
    width: j(680);
    height: j(2);
    background-color: #ddd;
}
.prompt{
    @extend %c3;
    @extend %aic;
    @extend %df;
    margin-top: j(30);
    width: j(680);
    font-size: j(28);
}
.dot{
    width: j(20);
    height: j(20);
    margin-right: j(20);
    background-color: #ddd;
    border-radius: 50%;
}
.button-group{
    @extend %df;
    @extend %jcc;
    @extend %fdc;
    margin-top: j(80);
}
.button{
    @extend %df;
    @extend %aic;
    @extend %cp;
    @extend %jcc;
    @extend %cp;
    @extend %c9;
    font-size: j(36);
    border-radius: j(50);
    height: j(90);
    width: j(600);
    margin: 0 j(50) j(20);
    background-color: transparent;
    &:first-child{
        @extend %cfff;
        background-color: $main-color;
    }
    &:after{
        border: none;
    }
}
