@import '~src/assets/scss/define';
@import '~src/assets/scss/iconfont';

.cell{
    @extend %df;
    @extend %pr;
    @extend %aic;
    @extend %c6;
    @extend %pr;
    @extend %cp;
    font-size: j(32);
    padding: j(30) j(32);
    //height: j(100);
    background-color: #fff;
    &:before{
        @extend %pa;
        @extend %t0;
        @extend %l0;
        @extend %bsb;
        @include tft(scale(0.5, 0.5));
        @include tfo(0, 0);
        content: '';
        width: 200%;
        height: 200%;
        border-bottom: j(1) solid #ddd;
    }
    &.margin-border{
        margin-top: j(20);
        &:before{
            border-top: j(1) #ddd solid;
        }
    }
    .label{
        @extend %df1;
    }
    .value{
        @extend %c9;
    }
    .arrow{
        margin-left: j(16);
        @include tfr(45deg);
        border-top: j(2) #999 solid;
        border-right: j(2) #999 solid;
        width: j(20);
        height: j(20);
        content: '';
    }
}
.icon{
    @extend %c6;
    font-size: j(42);
    margin-right: j(20);
}
