
@import "~src/assets/scss/common";

page{
    @extend %w100;
    background-color: $bg-color;
}

.navigation-section{
    background-color: $main-color;
}

.header-section{
    @extend %df;
    @extend %aic;
    background-color: $main-color;
    height: j(90);
}
.search{
    @extend %df;
    @extend %aic;
    @extend %c9;
    width: 65%;
    height: j(55);
    margin-left: j(30);
    background-color: $bg-color;
    border-radius: j(30);
    font-size: j(24);
}
.search-icon{
    font-size: j(32);
    margin: 0 j(10) 0 j(15);
}
.content{
    @extend %pr;
    @extend %df;
    @extend %fww;
    @extend %jcs;
    padding-top: j(95);
}
