@import '~src/assets/scss/define';
@import '~src/assets/scss/iconfont';

.head{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %c3;
    height: j(80);
    font-size: j(28);
    .iconfont{
        padding: 0 j(20);
    }
}
.tr{
    @extend %df;
    @extend %aic;
    padding: 0 j(32);
    //@extend %bw05;
    //@extend %bwb;
}
.td{
    @extend %df;
    @extend %df1;
    @extend %aic;
    @extend %jcc;
    @extend %c6;
    @extend %cp;
    font-size: j(24);
    height: j(80);
}
