<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>点刷</title>
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
</head>
<body>
<div class="swiper-container" id="swiper1">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="top_bg" src="img/download_banner_dsmpos@2x.png" alt="">
            <img class="cen_bg" src="img/img_dsmpos_bg@2x.png" alt="">
            <div class="model_warp">
                <div class="model_txt">支持机型</div>
                <div class="model_img_warp">
                    <div class="model_img_bg">
                        <img src="img/pay_sdk_swiper_ms.png" alt="">
                        <p>MS</p>
                    </div>
                    <div class="model_img_bg">
                        <img src="img/pay_sdk_swiper_mt.png" alt="">
                        <p>MT</p>
                    </div>
                    <div class="model_img_bg">
                        <img src="img/pay_sdk_swiper_my.png" alt="">
                        <p>MY</p>
                    </div>
                    <div class="model_img_bg">
                        <img src="img/pay_sdk_swiper_mf.png" alt="">
                        <p>MF</p>
                    </div>
                </div>
            </div>
            <p class="ds_desc_txt">点下方按钮下载：点刷键盘大mPos蓝色版本APP</p>
            <div class="ds_down_btn">
                <img class="ds_down_bg" src="img/icon_download@2x.png" alt="">
                <span>mPos版下载</span>
            </div>
            <div class="next_wrap">
                <img class="next_wrap_bg ani animated infinite" swiper-animate-effect="slideInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.8s" src="img/icon_next@2x.png" alt="">
            </div>
        </div>
        <!--red-->
        <div class="swiper-slide">
            <img class="top_bg" src="img/download_banner_ds@2x.png" alt="">
            <img class="cen_bg" src="img/img_ds_bg@2x.png" alt="">
            <div class="model_warp model_red">
                <div class="model_txt red_txt">支持机型</div>
                <div class="swiper-container model_img_warp_red" id="swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="model_img_bg">
                                <img src="img/pay_sdk_swiper_bt.png" alt="">
                                <p>BT</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="model_img_bg">
                                <img src="img/pay_sdk_swiper_by.png" alt="">
                                <p>BY</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="model_img_bg">
                                <img src="img/pay_sdk_swiper_bz.png" alt="">
                                <p>BZ</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="model_img_bg">
                                <img src="img/pay_sdk_swiper_bd.png" alt="">
                                <p>BD</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="model_img_bg">
                                <img src="img/pay_sdk_swiper_bs.png" alt="">
                                <p>BS</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="model_img_bg">
                                <img src="img/pay_sdk_swiper_bf.png" alt="">
                                <p>BF</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="model_img_warp">
                    <div class="model_img_bg">
                        <img src="img/pay_sdk_swiper_ms.png" alt="">
                        <p>MS</p>
                    </div>
                    <div class="model_img_bg">
                        <img src="img/pay_sdk_swiper_mt.png" alt="">
                        <p>MT</p>
                    </div>
                    <div class="model_img_bg">
                        <img src="img/pay_sdk_swiper_my.png" alt="">
                        <p>MY</p>
                    </div>
                    <div class="model_img_bg">
                        <img src="img/pay_sdk_swiper_mf.png" alt="">
                        <p>MF</p>
                    </div>
                </div>-->
            </div>
            <p class="ds_desc_txt">点下方按钮下载：点刷小mPos红色版本APP</p>
            <div class="ds_down_btn ds_down_red">
                <img class="ds_down_bg" src="img/icon_download@2x.png" alt="">
                <span>普通版下载</span>
            </div>
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>


<div id="prompt" style="display: none;">
    <img src="img/weixin_open.png">
</div>

</body>
<script src="js/plugin/swiper.min.js"></script>
<script src="js/plugin/swiper.animate1.0.3.min.js"></script>
<script src="js/custom/index.js"></script>
</html>

