
@import "~src/assets/scss/common";

page{
    @extend %w100;
    background-color: $bg-color;
}
.user-section{
    @extend %pr;
    background-color: #ddd;
}
.user-bg{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %h100;
    @extend %w100;
    filter: blur(j(3));
}
.user-content{
    @extend %pr;
    @extend %h100;
    @extend %df;
    @extend %bsb;
    @extend %fdc;
    padding: j(100) j(32) j(32);
    background-color: rgba(0,0,0,.5);
    justify-content: flex-end;
}
.user-info{
    @extend %df;
    @extend %aic;
    @extend %pr;
}
.user-avatar{
    @extend %df;
    @extend %pr;
    @extend %aic;
    @extend %jcc;
    @extend %cc;
    margin-right: j(100);
    width: j(160);
    height: j(160);
    font-size: j(24);
    border-radius: 50%;
    border: j(1) #ddd solid;
}
.avatar{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %w100;
    @extend %h100;
    border-radius: 50%;
}
.user-info-content{
    @extend %df1;
}
.user-button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    @extend %cp;
    font-size: j(28);
    height: j(65);
    border-radius: j(6);
    background-color: $main-color;
    .iconfont{
        margin-right: j(10);
        font-size: j(28);
    }
}
.user-name{
    @extend %cfff;
    @extend %fwb;
    margin-top: j(28);
    font-size: j(36);
}
.user-signature{
    @extend %cc;
    font-size: j(28);
}
.user-base{
    @extend %df;
    @extend %aic;
    padding: j(20) 0;
}
.base-info{
    @extend %df;
    @extend %df1;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    @extend %pr;
    height: j(80);
    &:after{
        @extend %pa;
        @extend %r0;
        @extend %t0;
        @extend %b0;
        @include tft(scale(0.5, 0.5));
        content: '';
        width: 1px;
        background-color: #ddd;
    }
    &:first-child{
        //align-items: flex-start;
    }
    &:last-child{
        //align-items: flex-end;
        &:after{
            @extend %dn;
        }
    }
}
.base-info-value{
    @extend %cfff;
    font-size: j(28);
}
.base-info-label{
    @extend %cc;
    font-size: j(20);
}
