
@import "~src/assets/scss/common";

page{
    @extend %w100;
    @extend %h100;
    background-color: $bg-color;
}

.avatar{
    @extend %bw05;
    @extend %bwt;
    @extend %bwl;
    @extend %bwr;
    @extend %bwb;
    @extend %bw05r;
    border-radius: 50%;
    width: j(90);
    height: j(90);
    background-color: #f2f2f2;
    image{
        @extend %w100;
        @extend %h100;
    }
}

.select-box{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
}

.select-box1{
    @extend %w100;
    height: j(100);
    background-color: red;
}
