
@import "~src/assets/scss/common";

page{
    background-color: #fff;
}
.search{
    @extend %pf;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %df;
    @extend %aic;
    @extend %bw05;
    @extend %bwb;
    padding: j(20) 0;
    background-color: #fff;
    z-index: 9;
}
.search-input{
    @extend %pr;
    @extend %df1;
    @extend %pr;
    @extend %df;
    @extend %aic;
    margin-left: j(32);
    height: j(70);
    border-radius: j(35);
    background-color: #f2f2f2;
    input{
        @extend %w100;
        @extend %pr;
        @extend %h100;
        @extend %bsb;
        @extend %c6;
        font-size: j(32);
        padding: 0 j(80) 0 j(32);
    }
}
.search-clear{
    @extend %pa;
    @extend %dn;
    @extend %aic;
    @extend %jcc;
    @extend %h100;
    @extend %cp;
    @extend %c9;
    @extend %t0;
    @extend %r0;
    z-index: 1;
    width: j(70);
    &.active{
        @extend %df;
    }
    .iconfont{
        font-size: j(32);
    }
}
.search-icon{
    width: j(50);
    height: j(50);
}
.search-btn{
    @extend %pr;
    @extend %c6;
    @extend %aic;
    @extend %jcc;
    @extend %df;
    height: j(70);
    padding: 0 j(32);
    font-size: j(32);
}

.content,
.history{
    padding-top: j(130);
}
.history-title{
    @extend %df;
    @extend %aic;
    @extend %jcs;
    @extend %c3;
    @extend %fwb;
    padding: 0 j(32);
    font-size: j(32);
    .iconfont{
        @extend %c9;
    }
}
.history-del{
    @extend %cp;
    width: j(40);
    height: j(40);
}
.history-content{
    @extend %df;
    @extend %aic;
    @extend %fww;
    padding: j(20) j(32);
}
.history-cell{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cp;
    @extend %c9;
    font-size: j(28);
    padding: 0 j(15);
    height: j(55);
    margin-bottom: j(20);
    margin-right: j(25);
    background-color: #eee;
}

.prompt{
    @extend %c9;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    font-size: j(24);
    height: j(80);
}

.content{
    @extend %df;
    @extend %fww;
    @extend %jcs;
    padding-top: j(110);
}
