* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

/* body {
  background-color: #F5F5F9;
  background-image: url("../image/bg_new.png");
  background-repeat: no-repeat;
  background-size: auto 180px;
  background-position: center 0;
  text-align: center;
}
@media (max-width: 320px) {
  body {
    background-color: #F6F7F7;
    background-image: url("../image/bg_new.png");
    background-repeat: no-repeat;
    background-size: auto 136px;
    background-position: center 0;
    text-align: center;
  }
} */

h3 {
  font-size:25px;
  color:#38384c;
  font-weight: 400;
}

.desc{
  color: red;
  font-size:18px;
  padding: 5px;
}

@media (max-width: 600px) {
  .desc{
    font-size:16px;
  }
}

a {
  text-decoration: none;
}

.logo {
  width: 100px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.icon {
  width: 120px;
}

.box {
  padding: 20px 0;
}

.left, .right {
  display: inline-block;
}
.left {
  width: 40%;
  text-align: right;
}
.right {
  width: 55%;
  text-align: left;
}

p {
  font-size:12px;
  color:#5c5c5c;
  letter-spacing:0;
}

.btn {
  background-color: white;
  border-radius: 1000px;
  padding: 12px 0;
  position: relative;
  margin-top: 20px;
  margin-right: 10px;
  box-shadow:0 26px 90px 0 rgba(51,59,69,0.10), 0 0 20px 0 rgba(215,222,227,0.39);
}

/* .btn img {
  width: 30px;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -15px;
}
 */
.btn span {
  margin-left: 60px;
  font-size: 17px;
}

.red {
  color: #ee4432;
}

.blue {
  color: #0076ff
}

#prompt {
  width: 30%;
  position: absolute;
  right: 10px;
  top: 0;
  text-align: right;
}
#prompt img {
  width: 100%;
}


.flex {
  width: 100%;
  display: flex;
  display: -webkit-box;
  justify-content: center;
  align-items: center;
  -webkit-box-align:center;
  -webkit-box-pack:center;
  flex-wrap: wrap;
}

.content-warp {
  width: 91.5%;
  height: 180px;
  border: 1px solid #AAD7FF;
  border-radius: 8px;
  background: url('../image/icon_dsmpos@2x.png') no-repeat;
  background-size: 30px 33px;
  background-position: left top;
}

.content-warp-ds {
  border: 1px solid #FFB2AA;
  border-radius: 8px;
}

.content-warp-ds {
  background: url('../image/icon_ds@2x.png') no-repeat;
  background-size: 30px 33px;
  background-position: left top;
}

.img-warp img {
  width: 110px;
  height: 110px;
}

.btn-warp {
  align-self: flex-end;
}

.btn-warp .btn{
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 50px;
  transform: translateY(-25px);
  background-image: linear-gradient(-269deg, #0076FF 0%, #0093FF 100%);
  box-shadow: 0 2px 5px 0 rgba(0,118,255,0.15);
  border-radius: 100px;
}

.btn-warp .btn-ds {
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 50px;
  transform: translateY(-25px);
  background-image: linear-gradient(-269deg, #EE4432 0%, #FF6C5D 100%);
  box-shadow: 0 2px 5px 0 rgba(0,118,255,0.15);
  border-radius: 100px;
}

.flex-cloumn {
  flex-direction: column;
  -webkit-box-orient: vertical;
}

.btn-warp .bg_down{
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  justify-content: center;
  align-items: center;
  -webkit-box-align:center;
  -webkit-box-pack:center;
  flex-wrap: wrap;
}

.btn-warp .btn img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.btn-warp .bg_down p {
  font-size: 17px;
  color: #FFFFFF;
}

.txt-warp {
  text-align: left;
}

.txt-warp h3 {
  font-size: 22px;
}


/**********swiper************/
body {
   background: #F5F5F9;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #F5F5F9;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  /* -ms-flex-align: center; */
  -webkit-align-items: flex-start;
  align-items: center;
}

.top_bg {
  width:100%;
  height: 120px;
}

.cen_bg {
  width: 91.5%;
  height: 225px;
}

.model_warp {
  width: 91.5%;
  height: 80px;
  border: 1px solid #AAD7FF;
  border-radius: 8px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

.model_txt {
  width: 32px;
  height: 100%;
  font-size: 12px;
  color: #0076FF;
  letter-spacing: -0.29px;
  text-align: center;
}