@import '~src/assets/scss/define';

.scroll-wrap{
    @extend %w100;
    @extend %h100;
}
.scroll-inner{
    @extend %pr;
    @include tst(all, .01s);
    &.animate{
        @include tst(all, .3s);
    }
}

.scroll-header{
    @extend %pa;
    @extend %df;
    @extend %t0;
    @extend %l0;
    @extend %w100;
    @extend %c9;
    @extend %aic;
    @extend %jcc;
    @include tft(translate3d(0, -100%, 0));
    height: j(160);
    font-size: j(28);
}
.scroll-footer{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %c9;
    height: j(100);
    font-size: j(28);
}
