@import '~src/assets/scss/define';
@import '~src/assets/scss/iconfont';
@import '~src/assets/scss/skin';

.wrap{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    @extend %ma;
    @extend %cp;
    font-size: j(28);
    margin: j(100) j(32);
    height: j(84);
    background-color: $main-color;
    border-radius: j(6);
}
