
@import "~src/assets/scss/common";

page{
    @extend %w100;
    @extend %h100;
    background-color: $bg-color;
}
.cell{
    @extend %bw05;
    @extend %bwb;
    @extend %cp;
    background-color: #fff;
    padding: j(20) j(64) j(20) j(32);
    &:after{
        @extend %pa;
        @extend %t50;
        right: j(32);
        content: '';
        width: j(16);
        height: j(16);
        background-color: red;
        border-radius: 50%;
        margin-top: j(-8);
    }
}
.title{
    @extend %c3;
    font-size: j(28);
}
.time{
    @extend %c9;
    margin-top: j(8);
    font-size: j(20);
}
